---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a software engineer with keen attention to detail, creating
    pixel-perfect user interfaces that combine intuitive design with solid
    engineering. I craft visually impressive experiences that are optimised for
    performance and usability.
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Busha / Senior Frontend Engineer"
      subtitle="MAY 2022 - PRESENT,  LAGOS, NIGERIA"
    >
      <ul class="list-disc ml-4">
        <li>
          Optimized Busha Exchange platform for accessibility enabling 100k+
          users to trade and exchange cryptocurrency seamlessly.
        </li>
        <li>
          Developed crypto-based Busha Commerce adopted by 100k + businesses.
        </li>
        <li>
          Delivered two critical back-office systems ("Backups") that enhanced
          customer operations efficiency, reducing resolution times by 30%.
        </li>
        <li>
          Led a team of 8 engineers, establishing coding standards, conducting
          code reviews, and optimizing development cycles, resulting in a 25%
          reduction in deployment times.
        </li>
      </ul>
      <p class="mb-4 italic">
        Core Technologies: React.js, Tailwind CSS, Flutter DDP, Node, Jes
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="Ubiscore / Frontend Engineer"
      subtitle="APRIL  2022 - JANUARY 2023, BERLIN, GERMANY"
    >
      <ul class="list-disc ml-4">
        <li>
          Contributed to the development of the world’s first AI-powered
          platform for data privacy scoring.
        </li>
        <li>
          Authored the most pull requests and became the largest contributor to
          the codebase, playing a key role in implementing features, resolving
          issues, and maintaining code quality.
        </li>
        <li>
          Ensured code base excellence by participating in code review sessions,
          providing feedback to uphold coding standards and improve
          productivity.
        </li>
      </ul>
      <p class="mb-4 italic">
        Core Technologies: Next.js, GraphQL, SaaS, TypeScript, React.
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="Prunedge / Senior Frontend Engineer"
      subtitle="MAY 2023 - JULY 2023,  CARLIFORNIA, USA"
    >
      <ul class="list-disc ml-4">
        <li>
          Developed enterprise-grade HRM software for leading banks,providing
          robust employee management capabilities.
        </li>
        <li>
          Led the front-end development of a Customer Relationship Management
          (CRM) delivering a user-friendly and efficient platform still in
          active use.
        </li>
        <li>
          Introduced innovative department patterns to boost team efficiency and
          minimise bugs.
        </li>
      </ul>
      <p class="mb-4 italic">
        Core Technologies: React.js, TypeScript, Redux, React Query,
        Material-UI.
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="Metricks / Frontend Engineer"
      subtitle="MAY 2023 - JULY 2023,  LONDON, UNITED KINGDOM"
    >
      <ul class="list-disc ml-4">
        <li>
          Solely developed a high-performance platform enabling users to create
          and manage affiliate marketing campaigns, attracting thousands of
          onboarded users within weeks of launch.
        </li>
        <li>
          Spearheaded the migration from vanilla JavaScript to TypeScript,
          introducing a new front-end architecture that enhanced scalability and
          reduced bug occurrences, resulting in a 30% improvement in development
          efficiency.
        </li>
        <li>
          Designed and integrated a blog feature using Sanity CMS, enabling
          dynamic content updates and streamlining marketing efforts.
        </li>
      </ul>
      <p class="mb-4 italic">
        Core Technologies: Next.js, TypeScript, Sanity, Tailwind CSS.
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="Turing / Senior Frontend Engineer"
      subtitle="OCT 2022 - NOV 2022, PALO ALTO, USA"
    >
      <ul class="list-disc ml-4">
        <li>
          Contributed to the design and implementation scalable, user-friendly
          interfaces to ensure seamless chatbot interactions for customers at
          XAPP AI.
        </li>
        <li>
          Leveraged technologies testing framework such as React.js, Redux,
          GraphQL to optimize the chatbot for efficiency.
        </li>
        <li>
          Interfaced with senior engineers to boost proficiency and improve team
          relations.
        </li>
      </ul>
      <p class="mb-4 italic">Core Technologies: React.js, TypeScript, Redux.</p>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Recognized as the "Outstanding Front-End Engineer of the Year" and honored
      with the "Values Award" for exemplifying company culture and driving
      innovation - <i
        ><a
          target="_blank"
          rel="noreferrer"
          class="text-primary"
          href="https://www.busha.ng">Busha</a
        ></i
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Key Projects</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://v1.abbacollections.com//"
        target="_blank"
        class="text-lg font-bold text-primary">Abba Collections</a
      >
      <p>
        Built a high-performance online store with low FID and fast INP,
        delivering seamless product browsing, a secure and rapid checkout, and
        an integrated mini back office for efficient store management.
      </p>
    </li>
    <li>
      <a
        href="https://www.edusko.com/"
        target="_blank"
        class="text-lg font-bold text-primary">Edusko</a
      >
      <p>
        Edusko is an education marketplace platform built with Next.js and
        TypeScript that connects parents with K-12 private schools across
        Africa. It features school search, comparison, enrollment support, and
        affordable education financing options. The platform serves parents,
        schools, vendors, and lenders, creating an easy-to-use ecosystem that
        simplifies school selection and financing through a modern, responsive
        frontend.
      </p>
    </li>
    <li>
      <a
        href="https://fedworks.africa/"
        target="_blank"
        class="text-lg font-bold text-primary">Fedworks</a
      >
      <p>
        Created a visually engaging portfolio website highlighting the company’s
        past projects, brand influences, and portfolio, enhancing audience
        engagement and brand visibility.
      </p>
    </li>
  </ul>
  <!-- 
  <div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Certifications</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a href="#" target="_blank"> Certification Name (with link)</a>
      </li>
      <li>
        <a href="#" target="_blank"> Certification Name (with link)</a>
      </li>
    </ul>
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>React.js</li>
    <li>Next.js</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>TailwindCSS</li>
    <li>Redux</li>
    <li>GraphQL</li>
    <li>Sanity</li>
    <li>Material-UI</li>
    <li>React Query</li>
    <li>Flutter</li>
    <li>Node.js</li>
    <li>Saas</li>
    <li>React Native</li>
    <li>Vue</li>
    <li>React Testing Library</li>
    <li>Vite</li>
  </ul>
</BaseLayout>
