---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReactPhotoGallery from "../components/ReactPhotoGallery";

const items = [
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1764059817/portfolio/CYL_5039_ee53s0.jpg",
    desc: "",
    tags: ["Public engagement", "#More2You", "Surulere"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1764059816/portfolio/CYL_4881_kudxcy.jpg",
    desc: "",
    tags: ["Public speaking", "#More2You", "Surulere"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1760774499/portfolio/9_wulmi1.jpg",
    desc: "",
    tags: ["Lekki", "Elegushi beach"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1760774514/portfolio/15_maigrp.jpg",
    desc: "",
    tags: ["Lekki", "Elegushi beach"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1760774519/portfolio/17_hwgdxv.jpg",
    desc: "",
    tags: ["Lekki", "Elegushi beach"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1760774505/portfolio/11_zfgqzu.jpg",
    desc: "",
    tags: ["Lekki", "Elegushi beach"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1760774496/portfolio/8_dveeak.jpg",
    desc: "",
    tags: ["Lekki", "Elegushi beach"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1760774491/portfolio/6_npka5n.jpg",
    desc: "",
    tags: ["Lekki", "Elegushi beach"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1760774486/portfolio/4_oxda4m.jpg",
    desc: "",
    tags: ["Lekki", "Elegushi beach"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1760774495/portfolio/7_wx10aq.jpg",
    desc: "",
    tags: ["Lekki", "Elegushi beach"],
  },
  {
    title: "",
    img: "https://res.cloudinary.com/dgxuzkblu/image/upload/v1760774482/portfolio/1_j9vrh6.jpg",
    desc: "",
    tags: ["Lekki", "Elegushi beach"],
  },
];
---

<BaseLayout title="Gallery" sideBarActiveItemID="gallery">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Gallery</div>
    <div class="text-lg mb-8 text-base-content/70">
      A view of me enjoying the soft life. 😅
    </div>
  </div>

  <ReactPhotoGallery items={items} client:load />
</BaseLayout>
