---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardAlt from "../components/HorizontalCardAlt.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import AnimatedHeroText from "../components/AnimatedHeroText.astro";
import HorizontalCard from "@components/HorizontalCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <AnimatedHeroText />

    <div class="text-5xl font-bold">
      You're one step closer to achieving your goal
    </div>
    <div class="text-3xl py-3 font-bold">...</div>
    <div class="py-2 flex flex-col gap-2">
      <text class="text-lg">
        There are two reasons you’re here: you have a problem, and you want
        results. You’re in the right place.
      </text>

      <text class="text-lg">
        With six years of hands-on experience as a software engineer and a
        proven track record of tackling complex challenges, I deliver practical
        and effective solutions, regardless of the obstacle.
      </text>
    </div>

    <div class="mt-8 flex gap-2 items-center">
      <a class="btn" href="https://twitter.com/ojolowoblue" target="_blank">
        Let's connect!</a
      >
      <a
        href="https://cal.com/ojolowo"
        target="_blank"
        class="btn btn-outline !uppercase"
      >
        BOOK A CALL
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My clientele</div>
  </div>

  <HorizontalCardAlt
    title="Busha"
    img="/projects/busha.png"
    desc="busha.io"
    url="https://busha.io"
  />
  <div class="divider my-0"></div>
  <HorizontalCardAlt
    title="Ubiscore"
    desc="ubiscore.com"
    url="https://app.ubiscore.com"
    img="/projects/ubiscore.jpeg"
  />
  <div class="divider my-0"></div>
  <HorizontalCardAlt
    title="Yousend"
    desc="yousend.co"
    url="https://yousend.co"
    img="/projects/yousend.jpeg"
  />
  <div class="divider my-0"></div>
  <HorizontalCardAlt
    title="Abba Collections"
    img="/projects/abba.png"
    desc="abbacollections.com"
    url="https://abbacollections.com"
  />
  <div class="divider my-0"></div>
  <HorizontalCardAlt
    title="Fedworks Africa"
    img="/projects/fedworks.svg"
    desc="fedworks.africa"
    url="https://fedworks.africa/"
  />
  <div class="divider my-0"></div>
  <HorizontalCardAlt
    title="Metricks"
    desc="metricks.io"
    url="https://app.metricks.io"
    img="/projects/metricks-icon.png"
  />
  <div class="divider my-0"></div>
  <HorizontalCardAlt
    title="Edusko"
    img="/projects/edusko.png"
    desc="edusko.com"
    url="https://www.edusko.com"
    badge="Featured"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Recent blog posts</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
