---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import HorizontalShopItem from "@components/HorizontalShopItem.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Top Projects</div>
  </div>

  <HorizontalCard
    title="Bitsweeps Revamp"
    img="/projects/bitsweeps.png"
    desc="A redesigned and improved version of an online gaming wallet application."
    url="https://bitsweeps.vip"
    badge="New"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Abba Collections"
    img="/projects/abba.jpeg"
    desc="An e-commerce platform built for a faith-based clothing brand with strong a community in Nigeria and the United Kimgdom."
    url="https://www.abbacollections.com"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Jon Pelumi"
    img="/projects/jon-pelumi.jpeg"
    desc="An e-commerce platform for a fashion design agency based in Lagos, Nigeria."
    url="https://www.jonpelumi.africa"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Nehemiah Company"
    img="/projects/tnc.png"
    desc="A fund-raiser website for The Nehemiah Company project in Lagos, Nigeria."
    url="https://tnc.gloryrealmsministries.org"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Foodhutz"
    img="/projects/foodhutz.png"
    desc="A resturant Dashboard for a food delivery Company based in the United-Kingdom."
    url="https://www.foodhutz.co.uk"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Open Source</div>
  </div>

  <HorizontalCard
    title="ESBuild Live Server"
    img="/projects/npm.webp"
    desc="A development server with live reload enabled, allows you to see updates to your file changes in realtime."
    url="https://www.npmjs.com/package/esbuild-live-server"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Featured</div>
  </div>

  <HorizontalCard
    title="Ubiscore"
    desc="An AI Privacy Scoring Platform for GDPR, CCPA, CPRA, and LGPD compliance."
    url="https://app.ubiscore.com"
    img="/projects/ubiscore.png"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Metricks"
    desc="Metricks is affiliate tracking software designed for small and medium enterprises to enhance their affiliate marketing."
    url="https://app.metricks.io"
    img="/projects/metricks.png"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Powershop"
    desc="PowerShop lets you create free online stores, curate products, and earn passive income through e-commerce."
    url="https://www.app.powershop.link"
    img="/projects/powershop.png"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Edusko"
    img="/projects/edusko.jpeg"
    desc="A platform that matches children with unlimited educational opportunities."
    url="https://www.edusko.com"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Fedworks Africa"
    img="/projects/fedworks.jpeg"
    desc="Portfolio website for a cinematography agency based in Lagos, Nigeria."
    url="https://fedworks.africa"
  />
</BaseLayout>
